header{
  height: 175px;
  text-align: left;
  background-color: lime;
  padding: 10px;
  margin: 5px;
  border-width: 7px;
  border-style: dotted;
  border-color: blue;
}
h1{
  font-style: oblique;
}
img{
  height: 55px;
  float: left;
}
nav{
  height: 150px;
  background-color: darkgoldenrod;
  padding: 15px;
  margin: 20px;
  border-width: 10px;
  border-style: outset;
  border-color: lime;
}
.diferentes{
  font-family: monospace;
  font-variant: small-caps;
  font-size: 18px;
  color: greenyellow;
  background-color: #800080;
  background-attachment: local;
  text-align: center;
  line-height: 24px;
  letter-spacing: 10px;
  word-spacing: 6px;
}
a{
  display: inline-block;
  height: 25px;
  width: 150px;
  background-color: lightblue;
  border-style: double;
  border-color: red;
  padding: 9px;
  margin: 13px;
  border-width: 6px;
  text-align: center;
  font-size: 18px;
  font-family: fantasy;
  text-decoration-line: line-through;
  text-decoration-style: double;
  text-decoration-color: yellow;
}
a:active{
  color: pink;
  background-color: #133944;
}
a:link{
 color: black;
}
a:hover{
  color: black;
  background-color: white;
}
a:visited{
  color: #721D1D;
}
li{
font-size: 13px;
font-style: italic;
font-family: serif;
}
#l1{
  list-style-type: square;
  list-style-position: inside;
}
#l2{
  list-style-type: armenian;
  list-style-position: outside;
}
#l3{
  list-style-image: url('./jp.ico');
  height: 50px;
}
