div{
  display: inline-block;
  height: 300px;
  width: 335px;
  background-color: yellow;
  padding: 35px;
  border: 5px;
  border-style: double;
  border-color: black;
}
#d1{
border-radius: 15px;
background-image: linear-gradient(red,yellow);
transition-property: width;
transition-duration: 3s;
transition-delay: 1s;
transition-timing-function: linear;
transform: scale(0.5,0.5);
}
#d1:hover{
  width: 600px;
}
#d2{
border-radius: 55px;
background-image: radial-gradient(blue,yellow,green);
transition-property: height;
transition-duration: 1s;
transition-delay: 2s;
transition-timing-function: linear;
transform: rotate(45deg);
}
#d2:hover{
  height: 450px;
}
#d4{
border-radius: 300px;
background-image: repeating-radial-gradient(blue,yellow,green);
transition-timing-function: linear;
transform: skew(25deg);
}
