h1{
  color: #FF00FF;
  background-color: black;
  padding: 35px 20px;
  border-style: ridge;
  border-color: darkgoldenrod aliceblue bisque darkolivegreen;
  border-width: 5px 8px;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: 10px;
}
a{
  font-size: 35px;
  background-color: aqua;
  text-decoration-line: overline;
  text-decoration-color: #c0fb00;
  text-decoration-style: wavy;
  height: 100px;
  width: 145px;
  display: inline-block;
  border: 15px;
  border-style: double;
}
a:link{
  color: lightblue;
}
a:visited{
  color: firebrick;
}
a:hover{
  color: greenyellow;
}
a:active{
  color: black;
}
ul{
  color: red;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
li{

}
h1,p{

}
p:hover{
  background-color: magenta;
}
#he:hover{
  background-color: lime;
  font-size: 25px;
}
.res:hover{
  background-color: lightblue;
  text-align: center;
}
div > p{
  color: orange;
}
img[src$='.jpg']{
  height: 235px;
  border-style: double;
  border-width: 5px;
  border-color: blue;
}
img[src$='.png']{
  height: 335px;
  border-width: medium;
  border-color: blue;
}
