/*Comment*/
h1{
  color: magenta;
  font-size: 35px;
}
p{
  color: lime;
  font-size: 14px;
}
body{
  background-color: black;
}
.c1{
  color: #FFFFFF;
}
#F{
  font-size: 335px;
  color: #888888;
  font-style: comic;
}
