*{
  font-family: monospace,sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  /*background-color: #530000;*/
}
#lor{
font-style: italic;
font-variant: small-caps;
}
h1{
  font: sans-serif;
  font-size: 35px;
}
body{
    background-image: url(./img/F.jpg);
    text-align: justify;
    line-height: 95%;
    word-spacing: 3.5px;
    letter-spacing: 3.5px;
    /*background-repeat: no-repeat;*/
}
.f{
  text-align: right;
}
.n{
  text-align: left;
}
.j{
  text-align: center;
}
a{
  display: inline-block;
  height: 35px;
  background-color: black;
  float: right;
}
p{
  width: 95%;
  clear: both;
}
