body {
  margin: 40px;
  padding: 10px;
  padding-top: 3px;
  background: #bbb;
}
#header{
  margin: 0px;
  padding: 2px;
  display: block;
  align-items: center;
  align-content: center;
  text-align: center;
}
nav ul {
  list-style: none;
  background-color: #222;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
    width: 20%;
    border-right: 3px solid white;
    height: 30px;
    line-height: 30px;
    font-size: 120%;
    display: inline-block;
    margin-right: -4px;
  }

nav li:last-child{
	    border-right: none;
}
nav li li{
	    border-right: none;
}
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding-left: 3px;
  padding-right: 3px;
  transition: .5s background-color;
}
nav a:hover {
  background-color: #005f5f;
}
nav a.actiu {
  background-color: #ccc;
  color: #000;
  cursor: default;
}
nav li li {
  font-size: .8em;
}
nav > ul > li {
   text-align: center;
}
nav > ul > li > a {
    padding-left: 0;
}
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}
nav li:hover ul {
   display: block;
   width: 20%;
}
nav li ul li {
   display: block;
   text-align: center;
   justify-content: center;
   align-items: center;
   height: 40px;
   width: 100%;
 }
.barraimg{
  height: 25px;
  border: 1px solid #000000;
  padding: 0px;
}
footer{
  margin: 0px;
  padding: 0px;
  background: #222;
  color: #fff;
}
#boton{
  position:fixed;
  bottom:30px;
  right:45px;
}
#imgboton{
  height:50px;
}
form{
  padding:2px;
  cursor:pointer;
  display:block;
  width:290px;
  margin: 0 auto;
  text-align:left;
}
