*{
  font-family: monospace;
  font-variant: normal;
  font-style: italic;
  font-size: 16px;
  color: #FFFFFF;
}
body{
  background-color: #000000;
  background-image: url(./index.jpeg);
  background-attachment: scroll;
  background-repeat: repeat-y;
  text-align: justify;
}
#u{
  text-align: left;
  word-spacing: 35px;
}
#dos{
  text-align: center;
  line-height: 135px;
}
#tres{
  text-align: right;
  letter-spacing: 2px;
}
a{
  font-size: 14px;
  height: 215%;
  width: 95%;
  background-color: #000000;
}
.prim{
  display: block;
}
.sec{
  display: inline;
}
.ter{
  display: inline-block;
}
.pu{
  width: 53%;
  display: block;
}
.pdos{
  width: 74%;
  display: inline;
}
.ptres{
  width: 85%;
  display: inline-block;
}
.seis{
  font-size: 35px;
}
#iu{
  float: right;
  clear: right;
}
#iult{
  float: left;
  clear: both;
}
